
<h5><b>CATALOG</b></h5>


{{#if songs}}
    <table class="striped">
        <thead>
            <tr>
                <th>Song Title</th>
                <th>Composer</th>
                <th>Genre</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each songs}}
                <tr>
                    <td><a href="/songs/{{_id}}">{{title}}</a></td>
                    <td>{{composer}}</a></td>
                    <td>{{genre}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
                <td>
                        <a href="/songs/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/songs/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not written any songs. Write one now!</p>
{{/if}}