<h3>Edit Song</h3>

<div class="row">
    <form action="/songs/{{song._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{song.title}}">
                <label for="title">Song Title</label>
            </div>
        </div>
                <div class="row">
            <div class="input-field">
                <input type="text" id="artist" name="artist" value="{{song.artist}}">
                <label for="artist">Artist</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="genre" name="genre" value="{{song.genre}}">
                <label for="genre">Genre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="mood" name="mood" value="{{song.mood}}">
                <label for="mood">Mood</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="theme" name="theme" value="{{song.theme}}">
                <label for="theme">Theme</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="coWriter" name="coWriter" value="{{song.coWriter}}">
                <label for="coWriter">Co-Writer</label>
            </div>
        </div>        
        <div class="row">
            <div class="input-field">
                <input type="text" id="writerSplit" name="writerSplit" value="{{song.writerSplit}}">
                <label for="writerSplit">Writer Split</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="songFile" name="songFile" value="{{song.songFile}}">
                <label for="songFile">Recording Link</label>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="input-field">
                <input type="file" id="songFile" name="songFile" value="{{song.songFile}}" src="{{song.songFile}}">
                <label for="coWriter">Recording</Co-Writer></label>
            </div>
        </div>
        
        
          <div class="row">
              <div>
                <label for="audioUpload" class="form-label">Audio</label>
                <input type="file" class="form-control" id="songFile" name="file">
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                </div>
                <div>
                <audio controls src="{{song.songFile}}"></audio>
            </form>
          </div>

        <!--<div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select song.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        -->

        <div class="row">
            <div class="input-field">
                <h5>Lyrics:</h5>
                <textarea id="body" name="body">{{song.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </div>
    </form>
</div>