<h2>Edit Song</h2>
<div class="row">
    <form action="/songs/{{song._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{song.title}}">
                <label for="title">Song Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="composer" name="composer" value="{{song.composer}}">
                <label for="artist">Composer</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h6>Lyrics:</h6>
                <textarea id="lyrics" name="lyrics">{{song.lyrics}}</textarea>
            </div>
        </div>

        <div class="row">
            <h5>Meta-Data</h5>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="genre" name="genre" value="{{song.genre}}">
                <label for="genre">Genre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="mood" name="mood" value="{{song.mood}}">
                <label for="mood">Mood</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="theme" name="theme" value="{{song.theme}}">
                <label for="theme">Theme</label>
            </div>
        </div>

         <div class="row">
            <h5>Rights</h5>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="affiliation" name="affiliation" value="{{song.affiliation}}">
                <label for="affiliation">Affiliation</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="registered" name="registered" value="{{song.registered}}">
                <label for="registered">Registered?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="worksNum" name="worksNum" value="{{song.worksNum}}">
                <label for="worksNum">Works #</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="iswc" name="iswc" value="{{song.iswc}}">
                <label for="iswc">ISWC #</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="ipi" name="ipi" value="{{song.ipi}}">
                <label for="ipi">IPI/CAE #</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="shares" name="shares" value="{{song.shares}}">
                <label for="shares">Shares</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="coWriter" name="coWriter" value="{{song.coWriter}}">
                <label for="coWriter">Co-Writer</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="coWriterIpi" name="coWriterIpi" value="{{song.coWriterIpi}}">
                <label for="coWriterIpi">Co-Writer IPI #</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="writerSplit" name="writerSplit" value="{{song.writerSplit}}">
                <label for="writerSplit">Writer Split</label>
            </div>
        </div>

        <div class="row">
            <h5>Publishing</h5>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="publishing" name="publishing" value="{{song.publishing}}">
                <label for="publishing">Publishing</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="pubAffiliation" name="pubAffiliation" value="{{song.pubAffiliation}}">
                <label for="pubAffiliation">Publisher Affiliation</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="pubShares" name="pubShares" value="{{song.pubShares}}">
                <label for="pubShares">Publisher Shares</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="pubIpi" name="pubIpi" value="{{song.pubIpi}}">
                <label for="pubIpi">Publisher IPI #</label>
            </div>
        </div>
    
    <div class="row">
        <h5>Media</h5>
    </div>
        <div class="row">
            <div class="input-field">
                <h6>Audio</h6>
                <label for="audioUpload" class="form-label"></label>
                <input type="file" class="form-control" id="songFile" name="file">
                 <audio controls class="" src="{{song.songFile}}"></audio>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="songFileName" name="songFileName" value="{{song.songFileName}}">
                <label for="songFileName">Audio File Name</label>
            </div>
        </div>
<!--
        <div class="row">
            <div class=""input-field>
                <h6>Split Sheet</h6>
                <input type="file" class="form-control" id="imageUpload" name="file">
                <label for="imgUpload" class="form-label"></label>
            </div>
        </div>
         <div class="row">
            <div class="input-field">
                <h6>Publishing Agreement</h6>
                <label for="imgUpload" class="form-label"></label>
                <input type="file" class="form-control" id="pubFile" name="file">
                 <img class="" src="{{song.pubFile}}"></audio>
            </div>
        </div>

        
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select song.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        -->

</div>
<div class="row">
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
