<div class="row">
    <div class="col s12 m8">
        <h4>{{song.title}}
            <small>{{{editIcon song.user user song._id false}}}</small>
        </h4>
    </div>
</div>
<div class="row">
    <div class="row">
        <h5>Basics</h5>
        <table class="striped">
          <thead>
             <tr>
                <th>Composer</th>
                <th>Date Created</th>
            </tr>
          </thead>
            <tbody>
                <tr>
                    <td>{{song.composer}}</td>
                    <td>{{formatDate date 'MMMM Do YYYY'}}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="row">
        <table class="striped">
          <thead>
             <tr>
                <th>Lyrics</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{song.lyrics}}</td>
                </tr>
            </tbody>
        </table>       
    </div>
</div>
<div class="row">
    <div class="row">
        <h5>Meta-Data</h5>
        <table class="striped">
          <thead>
             <tr>
                <th>Genre</th>
                <th>Mood</th>
                <th>Theme</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{song.genre}}</td>
                    <td>{{song.mood}}</td>
                    <td>{{song.theme}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="row">
        <h5>Rights</h5>
        <table class="striped">
          <thead>
             <tr>
                <th>Affiliation</th>
                <th>Works #</th>
                <th>Registered</th>
                <th>ISWC Number</th>
                <th>IPI/CAE Number</th>
                <th>Shares</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{song.affiliation}}</td>
                    <td>{{song.workNum}}</td>
                    <td>{{song.registered}}</td>
                    <td>{{song.iswc}}</td>
                    <td>{{song.ipi}}</td>
                    <td>{{song.shares}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="striped">
          <thead>
             <tr>
                <th>Cowriter</th>
                <th>Writer Split</th>
                <th>Cowriter IPI #</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{song.coWriter}}</td>
                    <td>{{song.writerSplit}}</td>
                    <td>{{song.coWriterIpi}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="row">
        <h5>Publishing</h5>
        <table class="striped">
          <thead>
             <tr>
                <th>Publisher</th>
                <th>Affiliation</th>
                <th>Publisher Shares</th>
                <th>Publisher IPI #</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{song.publisher}}</td>
                    <td>{{song.pubAffiliation}}</td>
                    <td>{{song.pubShares}}</td>
                    <td>{{song.pubIpi}}</td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="row">
    <h5>Media</h5>
    <div class="row">
        <table class="striped">
          <thead>
             <tr>
                <th>Audio File Name</th>
                <th>Audio</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{song.songFileName}}</td>
                    <td><audio controls class="" src="{{song.songFile}}"></audio>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div> 
 
<div class="row">   
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-action">
                <a href="/dashboard">Dashboard</a>
            </div>
        </div>
    </div>
</div>